td,tr,th,table{
  border:1px solid;
  border-collapse: collapse;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100vw;
 
}

.text {
  margin:2rem;
}



